:root{
    --font-bold:'Bold';
    --font-med:'Med';
    --font-reg:'Reg';
}
html{
    height: 100%;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
body {
    background: #FFFFFF;
    color: #000000;
    font-family:var(--font-bold);
    padding: 0;
    margin: 0;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
button {
    border-width: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: transparent;
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
}
h1, h2, h3, h4, p {
    margin: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button {
    appearance: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}
.header-container{
    width: 100%;
}
.nav-container{
    padding: 0 16px;
    height: 48px;
    background: transparent;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: 1;
    align-items: center;
}
.nav-icon-container{
    margin-right: 10px;
    margin-left: -6px;
}
.nav-button{
    width: 36px;
    height: 36px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    transition-duration: 200ms;
    text-decoration: none;
    border-style: none;
    border: 0;
    justify-content: center;
    display: inline-flex;
    line-height: 16px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--font-med);
}
.nav-logo-container{
    pointer-events: all;
}
.nav-logo{
    display: block;
    height: 16px;
    width: auto;
    filter: unset;
    pointer-events: all;
}
.flex-div{
    flex:1;
}
.profile-icon-Container{
    margin-right: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.04);
    background: #FFFFFF;
    min-width: 36px;
    min-height: 36px;
    border-radius: 500px;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    line-height: 16px;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    align-items: center;
    color: #000000;
    box-sizing: border-box;
    
}
.profile-icon{
    fill: currentColor;
    flex: none;
    width: 16px;
    height: 16px;
}
.signup-button{
    padding: 8px 12px;
    background: #000000;
    color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.04);
    border-radius: 500px;
    height: 36px;
    justify-content: center;
    display: inline-flex;
    line-height: 16px;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--font-med);
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}
.main-container{
    display: block;

}
.main-header{
    justify-content: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    position: relative;
}
.background-image{
    object-fit: cover;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    z-index: -100;

}
.order-delivery-area-container{
    top: 104px;
    padding: 0 16px;
    color: #000000;
    position: absolute;
}
.order-area-header{
    margin-bottom:24px ;
    line-height: 44px;
    font-weight: 700;
    font-size: 36px;
    font-family: var(--font-bold);
}
.adress-input-container{
    box-shadow: unset;
    background-color: unset;
    padding: 8px 0;
    display: block;
    text-decoration: none;
    color: inherit;
}
.adress-input{
    position: sticky;
    padding-left: 4px;
    box-shadow: inset 0px -1px 0px #F3F3F3;
    height: 56px;
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
}
.location-icon-svg{
    margin: 12px;
    height: 24px;
    width: 24px;
    fill: currentColor;
    flex: none;
    justify-content: center;
    fill: #000000;
    display: flex;
    align-items: center;
}
.adress-input-container{
    color: #4B4B4B;
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
    font-family: var(--font-reg);   
}
.deliver-now-container{
    margin-bottom: 16px;
    box-shadow: inset 0px -1px 0px #F3F3F3;
    background: #FFFFFF;
    align-items: center;
    flex-direction: row;
    display: flex;
    box-sizing: border-box; 
}
.deliver-now{
    height: 56px;
    width: 100%;
    background: #FFFFFF;
    align-items: center;
    color: #000000;
    display: flex;
}
.spacer{
    height: 1px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}
._1{
    width: 1px;
}
._2{
    width: 2px;
}
._3{
    width: 3px;
}
._4{
    width: 4px;
}
._5{
    width: 5px;
}
._6{
    width: 6px;
}
._7{
    width: 7px;
}
._8{
    width: 8px;
}
._16{
    width: 16px;
}
.clock-icon-container{
    flex-shrink: 0;
    display: flex;
}
.clock-icon{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.real-clock-icon-container{
    line-height: 1;
    height: 24px;
    width: 24px;
}
.deliver-now-text-container{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    height: 100%;
}
.deliver-now-text{
    line-height: 20px;
    font-weight: 500;
    overflow: hidden;
    font-size: 16px;
    font-family: var(--font-med);
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.dropdown-container{
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop-down{
    line-height: 1;
    height: 24px;
    width: 24px;
}
.search-button-container{
    border-radius: 8px;
    padding: 12px 16px;
    min-height: 56px;
    font-size: 18px;
    background: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
    font-family: var(--font-med);
    box-sizing: border-box;
}
.or-sign-in-container{
    line-height: 16px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 24px;
    font-family: var(--font-med);
}
.sign-in{
    text-decoration: underline;
    color: #000000;
}
.height-24{
    height: 24px;
}
.height-32{
    height: 32px;
    flex-shrink: 0;
}
.height-36{
    height: 36px;
}
.height-48{
    height: 48px;
}
.margin-top{
    margin-top: 24px;
}
.description-main-container{
    padding: 16px 0 0 0 ;
}
.get-the-app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
}
.get-the-app{
    background-color: #FFFFFF;
    flex-direction: column;
    display: flex;
}
.logo-and-text-container{
    margin-bottom: 16px;
    align-items: center;
    display: flex;
}
.uber-eats-mobileinstall-logo{
    border-radius: 15%;
    height: 64px;
    width: 64px;
    flex-shrink: 0;
}
.uber-eats-text{
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-bold);
}
.uber-eats-button-container{
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 12px 16px;
    min-height: 56px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    font-family: var(--font-med);
    width: 100%;
    align-items: center;
    color: #000000;
    display: flex;
    box-sizing: border-box;
    letter-spacing: inherit;
    border-width: 0;
    justify-content: center;
}
.uber-eats-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.android-logo{
    height: 18px;
    width: 18px;
    fill: currentColor;
    flex: none;
}
.images-and-texts{
    margin: 0 16px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.description-image{
    height: auto;
    margin-bottom: 4px;
    width: 100%;
}
.description-text{
    line-height: 32px;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-bold);
}
.description-sub-text{
    margin-top: 8px;
    text-decoration: underline;
    line-height: 20px;
    display: block;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-med);
    color: #000000;
}
.about-container-main{
    margin: 0 16px;
    display: flex ;
    flex-direction: column;
}
.about-header{
    line-height: 32px;
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-bold);
}
.about-image-container-child-1{
    margin: 16px 0;
}
.about-image-container-child-2{
    height: 360px;
}
.about-image{
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 100%;
}
.about-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.about-text-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px 8px;
    display: grid;
    grid-auto-flow: column;
}
.about{
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    font-family: var(--font-reg);
}
.all-cities{
    text-decoration: underline;
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--font-med);
    color: #000000;
}
.grid-container{
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 8px;
}
.footer{
    border-top: 1px solid #F3F3F3;
    margin-top: 64px;
    padding: 64px 16px 80px;
    background-color: #FFFFFF;
}
.footer-image-uber{
    margin-bottom: 48px;
    height: 24px;
    width: auto;
    filter: unset;
}
.get-it-on-container{
    margin-bottom: 64px;
}
.app-store-and-playstore{
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}
.get-help-container{
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
}
.get-help-text{
    margin-bottom: 16px;
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
    font-family: var(--font-reg);
    color: #000000;
    display: flex;
    align-items: center;
}
.last-text{
     line-height: 20px;
    font-weight: normal;
    font-size: 14px;
    font-family: var(--font-reg);
    color: #000000;
    display: flex;
    margin-bottom: 0;
}
.margin-zero{
    margin: 0px;
}
.lang-svg{
    fill: currentColor;
    width: 16px;
    height: 16px;
    flex: none;
}
.empty-margin{
    margin: 40px 0;
    background-color: #F3F3F3;
    border: none;
    height: 1px;
}
.social-media-container{
    margin-bottom: 40px;
    gap: 24px;
    color: #000000;
    display: flex;
    flex-direction: row;
    position: relative;
}
.media-txt{
    margin:-1px;
    white-space: nowrap;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
}
.media-svg{
    width: 16px;
    height: 16px;
    fill: currentColor;
    flex: none;
}
.finally-over-footer{
    margin-bottom: 40px;
    flex-direction: column;
    display: flex;
}
.finally-over-text{
    line-height: 20px;
    font-weight: normal;
    font-size: 14px;
    font-family: var(--font-reg);
    color: #000000;
    display: flex;
    margin-bottom: 16px;
}
